# 默认忽略的文件
/../../../:MTR Beijing Addon/.idea/shelf/
/../../../:MTR Beijing Addon/.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../../:MTR Beijing Addon/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:MTR Beijing Addon/.idea/dataSources/
/../../../:MTR Beijing Addon/.idea/dataSources.local.xml
